body{
    background-color: rgb(58, 114, 160);
}

.MainH{
    color: white;
}

#Show{
    overflow: auto;
    height: 300px;
    width: 300px;
    background-color: rgb(62, 62, 62);
    border-radius: 10px;
    text-align: center;
    color:white;
    text-align: left;
}