/* Main*/
@keyframes pulse{
    0%, 100% {
        background-color: rgb(12, 27, 41);
    }
    50%{
        background-color: #081328;
    }
}

body{
    height: 150%;
    overscroll-behavior: none;
    background-color: rgb(12, 27, 41);
    width: 100%;
    padding: 0;
    margin: 0;
    animation: pulse 20s infinite;
}

html{
    scroll-behavior: smooth;
}

h1{
    color: rgb(34, 78, 166);
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h5{
    color:white;
    font-size:40px;
    text-align: center;
}

/*-------------------------------*/
/* The Services side */

#Services{

    width: 100%;
    height: 850px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between; 
    

}

.Service-1{
    width: 350px;
    height: 620px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    margin: 10px;
    border-radius: 10px;
    float: left;
    justify-content: center;
}

.Service-Container :hover{
    background-color: whitesmoke;
}

.Service-Container{
        margin: auto;
        width: 78%;
        padding: 10px;
        border-radius: 10px;
        height: 78%;
        background-color: rgb(238, 244, 254);
}


/*-------------------------------*/
/* The Terminal Style Hello Box*/
.modal {
    width: 803px;
    height: 400px;
    background-color: black;
    border-radius: 5px;
    border-color: rgb(87, 87, 87);
    border-style: solid;
    font-size: 20px;
}  
@keyframes typing {
    from{opacity: 100%;}
    0% { width: 0;}
    50% {width: 100%;}
    55% {width: 100%;}
    60% {width: 100%;}
    100% {width: 100%;}
}
.typing-animation {
    overflow: hidden;
    content:"!";
    white-space: nowrap;
    display: block;
    animation: typing 12s steps(100);
    color: rgb(0, 159, 0);
}
@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.typing-animation::after {
    content: "|";
    color: rgb(255, 255, 255);
    animation: blink 1s infinite;
}

/*-------------------------------*/
/*Main Page*/

#Navbar-mobile-buttons{
    display: none;
    position: fixed;
    
}

.menu-btn{
    color: rgb(0, 0, 0);
}
  
.Navbar-mobile-buttons ul {
    list-style-type: none;
    background-color: #333;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    padding-top: 100px;
    background-color: white;
    overflow-y: hidden;
    scroll-behavior: none;
    font-size: 20px;
  }

  .Navbar-mobile-buttons{

    text-align: left;
  }

  .Navbar-mobile-buttons a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: left;
    width: 100px;
    height: 30px;
  }

  .Navbar-mobile-buttons a:hover {
    color: rgb(30, 92, 164);
  }
  


  .NavBar-mobile{
    display: none;
   }

.NavBar{
    width: 100%;
    background-color: #ffffff;
    top: 0%;
    left: 0%;
    z-index: 900;
    position: fixed;
    height: 100px;
   
}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;

}
.Logo{
    text-align: left;
}
button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000;
    justify-content: space-between; 
}

.RightButtons{
    background-color: rgb(19, 46, 61);
    width: 90px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.RightButtons :hover{
    background-color: rgb(36, 61, 75);
}

.A2{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight:600;
}

.A{
    font-size: 20px;
    color: black;
    font-weight:600;
}
a{
    text-decoration: none;
    color: inherit;
    padding-left: 5px;
    padding-right: 5px;
}
.A :hover{
    color: inherit;
    text-decoration:none;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(30, 92, 164);
    
}
h5{
    color:white;
    font-size: 30px;
}

/*-------------------------------*/
/*QuoteArea*/
.QutoeArea{
    align-items: center;
    align-content: center;
    width: 100%;
    padding-top: 5%;
    height: 400px;
    background-color: rgb(206, 206, 206);
    text-align: center;    
}
#quote-text{
    color:rgb(0, 0, 0);
    font-size: 25px;
}
.quote-Header{
    font-size: 40px;
    color: black;
}
.Buttons{
    font-size: 20px;
}
.WelcomePage{
    padding: 10%;
    color:white;
    height: 530px;
}
.WelcomeBox{
    text-align: center;
}

.modal-Middle{
  margin: auto;
  width: 70%;
}

.Modal-Outline{
    background-color: #3d3d3d;
    width: 804px;
    height: 35px;
    border-radius: 5px;
    border-color: rgb(87, 87, 87);
    border-style: solid;
    font-size: 20px;
    padding-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;

}

/*-------------------------------*/
/* About Me*/
#AboutMe{
    color: white;
    padding: 10%;
}

h2{
    font-size: 30px;
}

#AboutMe Hello{
    font-weight: bold;
    font-size: 30px;
    color: rgb(214, 247, 255);
}

#AboutMe CompSci{
    font-weight: bold;
    font-size: 20px;
    color: rgb(181, 99, 45);
}

.AboutMe-Skill-Coding{
    padding-top: 10px;
}

.AboutMe-Skill-Coding-Snippet{
    width: 700px;
    height: 450px;
    background-color: rgb(206, 206, 206);
    color: black;
    border-radius: 15px;
    border-style: solid;
    padding-left: 2%;
}
.AboutMe-Skill-SM{
    padding-top: 10px;
}
.AboutMe-Skill-SM-Snippet{
    width: 700px;
    height: 320px;
    background-color: rgb(206, 206, 206);
    color: black;
    border-radius: 15px;
    border-style: solid;
    padding-left: 2%;
    font-size: 20px;  
}
.CSharp-Skill-Bar-Border{
        border-radius: 5px; width: 360px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
    }
    .CSharp-Skill-Bar{
       color: white; text-align: center; border-radius: 5px; width: 330px; height: 28px; background-color: rgb(105, 5, 164); border-style: solid;
    }
    .C-Skill-Bar-Border{
        border-radius: 5px; width: 360px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
    }
    .C-Skill-Bar{
       font-size: 11px; color: white; text-align: center; border-radius: 5px; width: 130px; height: 28px; background-color: rgb(12, 85, 154); border-style: solid;
    }
    .Java-Skill-Bar-Border{
        border-radius: 5px; width: 360px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
    }
    .Java-Skill-Bar{
        font-size: 15px; color: white; text-align: center; border-radius: 5px; width: 230px; height: 28px; background-color: rgb(14, 126, 136); border-style: solid;
    }
    .HCJ-Skill-Bar-Border{
        border-radius: 5px; width: 360px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
    }
    .HCJ-Skill-Bar{
        color: white; text-align: center; border-radius: 5px; width: 270px; height: 28px; background-color: rgb(234, 212, 44); border-style: solid;
    }
    .Python-Skill-Bar-Border{
        border-radius: 5px; width: 360px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
    }
    .Python-Skill-Bar{
        color: white; text-align: center; border-radius: 5px; width: 290px; height: 28px; background-color: rgb(33, 102, 205); border-style: solid;
    }

    .Fencing-Skill-Bar{
        color: white; text-align: center; border-radius: 5px; width: 250px; height: 28px; background-color: rgb(49, 157, 148); border-style: solid;
    }
    .Fencing-Skill-Bar-Border{
        border-radius: 5px; width: 360px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
    }
    .Tennis-Skill-Bar{
        color: white; text-align: center; border-radius: 5px; width: 130px; height: 28px; background-color: rgb(17, 175, 17); border-style: solid;
    }
    .Tennis-Skill-Bar-Border{
        border-radius: 5px; width: 360px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
    }
    .Guitar-Skill-Bar{
        color: white; text-align: center;  border-radius: 5px; width: 160px; height: 28px; background-color: rgb(113, 67, 38); border-style: solid;
    }
    .Guitar-Skill-Bar-Border{
        border-radius: 5px; width: 360px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
    }


/*-------------------------------*/
/* Footer*/
footer{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgb(199, 200, 200), rgb(218, 218, 218));
    color: rgb(0, 0, 0);
}

.FooterJDEV{
    font-size: 15px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    width: 100%;
}


/*-------------------------------*/
/* Mobile*/
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        .A{
            font-size: 20px;
            color: black;
            font-weight:600;
            display: none;

        }

        .mainPage
        {
            height: 10%;
        }
        
          /* Hide other navbar items on smaller screens */


        body{
            height: 150%;
            overscroll-behavior: none;
            background-color: rgb(12, 27, 41);
        }
    
        html{
            scroll-behavior: smooth;
        }
    
        h1{
            
            font-size: 30px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
    
        #Welcome{
            width: 100%;
            height: 100%;
            padding: 100%;
            background-color: black;
        }
    
        .modal-Middle{
            margin: auto;
            width: 70%;
            padding-right: 100px;
          }

          #Services{

            width: 100%;
            height: 2390px;
            background-color: rgb(255, 255, 255);
            align-items: center;
            justify-content: space-between; 
            
        
        }
        
        .Service-1{
            width: 270px;
            height: 690px;
            background-color: rgb(255, 255, 255);
            border-style: solid;
            border-color: white;
            margin: 10px;
            border-radius: 10px;
            float: left;
            justify-content: center;
        }
        
        .Service-Container :hover{
            background-color: whitesmoke;
        }
        
        .Service-Container{
                margin: auto;
                width: 77%;
                padding: 10px;
                border-radius: 10px;
                height: 90%;
                background-color: rgb(238, 244, 254);
        }
          
          .Modal-Outline{
              background-color: #3d3d3d;
              width: 303px;
              height: 35px;
              border-radius: 5px;
              border-color: rgb(87, 87, 87);
              border-style: solid;
              font-size: 20px;
              padding-top: 10px;
          }
          
    
        .modal {
            width: 303px;
            height: 120px;
            background-color: black;
            border-radius: 5px;
            border-color: rgb(87, 87, 87);
            border-style: solid;
            font-size: 20px;
          }
          
          
          @keyframes typing {
            from{opacity: 100%;}
            0% { width: 0;}
            50% {width: 100%;}
            55% {width: 100%;}
            60% {width: 100%;}
            100% {width: 100%;}
    
          }
          
          .typing-animation {
            overflow: hidden;
            content:"!";
            white-space: nowrap;
            animation: typing 12s steps(100);
            color: rgb(0, 159, 0);
          }
    
          @keyframes blink {
            from, to {
              opacity: 1;
            }
            50% {
              opacity: 0;
            }
          }
          
          .typing-animation::after {
            content: "|";
            color: rgb(255, 255, 255);
            animation: blink 1s infinite;
          }
    
        .NavBar {
            width: 100%;
            background-color: rgb(255, 255, 255);
            top: 0%;
            left: 0%;
            z-index: 900;
            position: fixed;
           
        }

        .NavBar-mobile{
            display: block;
        }
    
        .Header{
            display: flex;
            align-items: right;
 
            padding-left: 10%;
            padding-right: 10%;
            
        }
    
        .Logo{
            text-align: left;
            color: rgb(34, 78, 166);
        }
    
        button{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
        }
    
        .A{
            font-size: 15px;
            color:black;
        }

        .RightButtons{
            display: none;
        }
    
        a{
            text-decoration: none;
            color: inherit;
    
            padding-left: 1px;
            padding-right: 1px;
        }
    
        .A :hover{
            color: inherit;
            text-decoration: line-through;
            padding-left: 1px;
            padding-right: 1px;
            color: rgb(30, 92, 164);
        }
    
        h5{
            color:white;
            font-size: 30px;
        }
    
        .QutoeArea{
            align-items: center;
            align-content: center;
            width: 100%;
            padding-top: 5%;
            height: 250px;
            background-color: rgb(206, 206, 206);
            text-align: center;
            
            
        }
    
        .Buttons{
            font-size: 20px;
        }
    
    
        .WelcomePage{
            padding: 10%;
            color:white;
            padding-top: 100px;
            height: 400px;
            
        }
    
        .WelcomeBox{
            font-size: 10px;
            text-align: center;
        }
    
        #AboutMe{
            color: white;
            padding: 10%;
        }
        
        footer{
            width: 100%;
            height: 160px;
            background-color: rgb(43, 43, 43);
            font-size: 15px;
            color: white;
    
    
        }
    
        

        #quote-text{
            font-size: 15px; 
            color: rgb(0, 0, 0);
        }

        .quote-Header{
            font-size: 25px;
        }

        .AboutMe-Skill-Coding{
            padding-top: 10px;
    
        }
    
        .AboutMe-Skill-Coding-Snippet{
            width: 330px;
            height: 450px;
            background-color: rgb(206, 206, 206);
            color: black;
            border-radius: 15px;
            border-style: solid;
            padding-left: 2%;
            
        }
    
        .AboutMe-Skill-SM{
            padding-top: 10px;
    
        }
    
        .AboutMe-Skill-SM-Snippet{
            width: 330px;
            height: 320px;
            background-color: rgb(206, 206, 206);
            color: black;
            border-radius: 15px;
            border-style: solid;
            padding-left: 2%;
            font-size: 20px;
            
        }
    
        .CSharp-Skill-Bar-Border{
            border-radius: 5px; width: 300px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
        }
        .CSharp-Skill-Bar{
           color: white; text-align: center; border-radius: 5px; width: 210px; height: 28px; background-color: rgb(105, 5, 164); border-style: solid;
        }
        .C-Skill-Bar-Border{
            border-radius: 5px; width: 300px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
        }
        .C-Skill-Bar{
           font-size: 11px; color: white; text-align: center; border-radius: 5px; width: 70px; height: 28px; background-color: rgb(12, 85, 154); border-style: solid;
        }
        .Java-Skill-Bar-Border{
            border-radius: 5px; width: 300px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
        }
        .Java-Skill-Bar{
            font-size: 11px; color: white; text-align: center; border-radius: 5px; width: 170px; height: 28px; background-color: rgb(14, 126, 136); border-style: solid;
        }
        .HCJ-Skill-Bar-Border{
            border-radius: 5px; width: 300px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
        }
        .HCJ-Skill-Bar{
            color: white; text-align: center; border-radius: 5px; width: 210px; height: 28px; background-color: rgb(234, 212, 44); border-style: solid;
        }
        .Python-Skill-Bar-Border{
            border-radius: 5px; width: 300px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
        }
        .Python-Skill-Bar{
            color: white; text-align: center; border-radius: 5px; width: 230px; height: 28px; background-color: rgb(33, 102, 205); border-style: solid;
        }
    
        .Fencing-Skill-Bar{
            color: white; text-align: center; border-radius: 5px; width: 190px; height: 28px; background-color: rgb(49, 157, 148); border-style: solid;
        }
        .Fencing-Skill-Bar-Border{
            border-radius: 5px; width: 300px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
        }
        .Tennis-Skill-Bar{
            font-size: 12px; color: white; text-align: center; border-radius: 5px; width: 90px; height: 28px; background-color: rgb(17, 175, 17); border-style: solid;
        }
        .Tennis-Skill-Bar-Border{
            border-radius: 5px; width: 300px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
        }
        .Guitar-Skill-Bar{
            font-size: 12px; color: white; text-align: center;  border-radius: 5px; width: 100px; height: 28px; background-color: rgb(113, 67, 38); border-style: solid;
        }
        .Guitar-Skill-Bar-Border{
            border-radius: 5px; width: 300px; height: 30px; background-color: rgb(255, 255, 255); border-style: solid;
        }
        
    
        footer{
            width: 100%;
            height: 200px;
            background-color: rgb(18, 31, 60);
            color: white;
        }
    
        .FooterJDEV{
            font-size: 15px;
            text-align: center;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-top: 30px;
            width: 100%;
        }
      }